/** @format */

.coder-navbar-vertical-spacer {
	height: 65px;
}

.coder-navbar-global-container {
	width: 100%;
	background-color: #00364e;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	max-height: 65px;
	height: 65px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.coder-navbar-main-container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 6px;
	display: flex;
	align-items: center;
}
